@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(243, 244, 246);
    background-image: url(/images/clouds.svg), url(/images/clouds.svg);
    background-position: -10% -10%, 110% 110%;
    background-repeat: no-repeat, no-repeat;
    background-size: 30%, 50%;
}
